@charset "UTF-8" ; 

/* 
paletas de cores:
verde: #49a09d
lil치s: #5f2c82

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

body {
        
    background: black url(../imagens/pexels-pixabay-207153.jpg) no-repeat;background-size: cover;
    background-position: center center;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*tudo que tiver fora da borda vai ficar escondido*/

    background-color: white;
    width: 255px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease; /*da suavizada no time*/

}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pexels-suzy-hazelwood-1629236.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: right bottom;
}

section#login > div#formul치rio {
    display: block;
    padding: 10px;
}

div#formul치rio > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formul치rio > p {
    font-size: 0.8em;
}